	<footer class="footer">

		<p class="footer__producthunt h3">

			Follow us on Product Hunt!

			<span class="footer__producthunt-img">

				<img src="/img/producthunt-left.svg" alt="" width="38" height="96" loading="lazy">

				<a href="https://www.producthunt.com/posts/sun-2?embed=true&utm_source=badge-featured&utm_medium=badge&utm_souce=badge-sun&#0045;2" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=942860&theme=dark&t=1746207406924" alt="SUN - Create audio-courses, listen, ask & get answers in real-time | Product Hunt" width="250" height="54" loading="lazy"></a>

				<img src="/img/producthunt-right.svg" alt="" width="38" height="96" loading="lazy">

			</span>

		</p>

		<div class="footer__box">

			<div class="center">

				<hr>

				<div class="footer__grid">

					<nav class="footer__menu">

						<ul>

							<li>
								<a href="/privacy-policy">Privacy</a>
							</li>

							<li>
								<a href="/terms-of-use">Terms of Service</a>
							</li>

							<li>
								<a href="/contact-us">Contact Us</a>
							</li>

						</ul>

					</nav>

					<div class="footer__social">

						<a href="https://www.instagram.com/sunapp.ai/" target="_blank" rel="noopener nofollow" title="instagram {{ site }}">
							Instagram
						</a>

					</div>

					<div class="footer__copyright">

						<p>
							© 2025 Blue Energy People, Inc.
						</p>

					</div>

				</div>

			</div>

		</div>

	</footer>