	<footer class="footer">

		<div class="center">

			<div class="footer__grid">

				<div class="footer__top">

					<div class="footer__logo">

						<img src="/img/logo-footer.svg" width="175" height="45" alt="{{ site }}" loading="lazy">

					</div>

					<hr>

					<div class="footer__desc">

						<p class="h4">
							Unlock Banking. Do crypto.
						</p>

						<p class="text">
							With Kea by your side
						</p>

					</div>

					<div class="footer__social">

{% include "template/social.html" %}

					</div>

				</div>

				<div class="footer__text">

					<p>
						Gulliver Pay Inc., is registered with the Financial Transactions and Reports Analysis Centre of Canada (FINTRAC) as a Money Services Business (MSB) with number M23990142 and having it’s Business address: 2967 Dundas Str. W. No. 1330, Ontario, Toronto M6P 1Z2, CANADA. Gulliver Pay Inc. is registered to provide the activities of foreign exchange dealing, money transferring, dealing in virtual currencies, issuing and redeeming money orders and acting as a payment services provider. Our registration status and activities can be viewed <br>
						at <a href="https://fintrac-canafe.canada.ca" class="link" target="_blank" rel="noopener nofollow">fintrac-canafe.canada.ca</a> at any time.
					</p>

					<p>
						ANGELS GATE, S.L. is registered by the Central Bank of Spain as a VASP (License number: E017)
					</p>

					<p>
						Copyright © 2023-2024 Kea®. All Rights Reserved.
					</p>

				</div>

				<ul class="footer__menu">

					<li>
						<a href="/" class="link">Privacy policy</a>
					</li>

					<li>
						<a href="/" class="link">Terms & conditions</a>
					</li>

					<li>
						<a href="/" class="link">LEI Record</a>
					</li>

				</ul>

			</div>

		</div>

	</footer>