	<header class="header">

		<div class="center">

			<div class="header__grid">

				<a href="/" class="header__logo" title="{{ site }}">

					<img src="/img/logo.svg" width="96" height="24" alt="{{ site }}" loading="eager">

				</a>

				<div class="header__menu">

{% include "template/menu.html" %}

				</div>

				<div class="header__btns">

					<a href="{{ JoinWaitlist }}" target="_blank" class="btn btn--white">
						Login
					</a>

					<a href="{{ JoinWaitlist }}" target="_blank" class="btn">
						Get started
					</a>

				</div>

			</div>

		</div>

	</header>