	<nav class="menu">

		<div class="menu__tabs">

			<a class="menu__link" href="{{ JoinLink }}" target="_blank" data-tooltip="coning soon">
				Personal
			</a>

			<a class="menu__link is-current" href="{{ JoinLink }}" target="_blank">
				Business
			</a>

		</div>

		<ul class="menu__list">

{% for item in [
	{
		name : "Banking",
		href : "banking"
	},
	{
		name : "Crypto",
		href : "crypto"
	},
	{
		name : "Fees",
		href : "fees"
	},
	{
		name : "About us",
		href : "about"
	}
] %}

			<li class="menu__item">

				<a class="menu__link" href="#{{ item.href }}">
					{{ item.name }}
				</a>

			</li>

{% endfor %}

		</ul>

		<hr class="menu__sep">

		<a href="#referral" class="menu__link">
			Become a Partner
		</a>

	</nav>