{% set title = "Terms of use." %}
{% set description = "Effective Date: January 31, 2025. Last Updated: January 31, 2025" %}
{% set folder = "terms-of-use" %}

{% extends "template/page.html" %}

{% block content %}

	<article class="page-text counter-headings center">

		<h1 class="page-text__title h3">
			{{ title }}
		</h1>

		<time class="page-text__date" datetime="2025-01-31">
			<span class="color-grey">Effective Date:</span> <span class="nowrap">January 31, 2025</span>
		</time>

		<time class="page-text__date" datetime="2025-01-31">
			<span class="color-grey">Last Updated:</span> <span class="nowrap">January 31, 2025</span>
		</time>

		<p>
			Welcome to SUN! By accessing or using our app, website, and services (collectively, "Services"), you agree to be bound by these Terms of Use ("Terms"). If you do not agree to these Terms, please do not use our Services.
		</p>

		<h2>
			Acceptance of Terms
		</h2>

		<p>
			By creating an account or using SUN, you acknowledge that you have read, understood, and agree to these Terms. You also confirm that you are at least 13 years old or meet the age of digital consent in your jurisdiction. If you are under 18, you must have the consent of your parent or guardian to use the Services.
		</p>

		<h2>
			Changes to Terms
		</h2>

		<p>
			We reserve the right to update or modify these Terms at any time. When we make changes, we will notify you by updating the "Last Updated" date at the top of this page. Continued use of the Services after such changes constitutes your acceptance of the updated Terms.
		</p>

		<h2>
			Use of the Services
		</h2>

		<h3>
			Account Registration
		</h3>

		<ul>

			<li>
				You must provide accurate and up-to-date information when creating an account.
			</li>

			<li>
				You are responsible for maintaining the confidentiality of your account credentials and for all activities under your account.
			</li>

		</ul>

		<h3>
			Prohibited Conduct
		</h3>

		<p>
			You agree not to:
		</p>

		<ul>

			<li>
				You must proviUse the Services for illegal, harmful, or fraudulent purposes, including spamming, distributing copyrighted material without permission, or engaging in hate speech.de accurate and up-to-date information when creating an account.
			</li>

			<li>
				You are responsible for maintaining the confidentiality of your account credentials and for all activities under your account.
			</li>

			<li>
				Interfere with or disrupt the Services, including by introducing malware or other harmful code.
			</li>

			<li>
				Reverse-engineer, decompile, or attempt to extract source code from the Services.
			</li>

			<li>
				Share or distribute content from SUN without authorization.
			</li>

		</ul>

		<h3>
			Termination of Use
		</h3>

		<p>
			We reserve the right to suspend or terminate your account if you violate these Terms or engage in prohibited conduct.
		</p>

		<h2>
			Intellectual Property
		</h2>

		<p>
			All content available through SUN, including text, audio, graphics, and software, is the property of SUN or its licensors. You may not reproduce, distribute, or modify any content without prior written consent from SUN.
		</p>

		<h2>
			Subscriptions and Payments
		</h2>

		<h3>
			Billing
		</h3>

		<ul>

			<li>
				Some features of SUN require a subscription. By purchasing a subscription, you agree to pay the fees displayed at checkout.
			</li>

			<li>
				Payments are processed securely through third-party providers.
			</li>

		</ul>

		<h3>
			Renewals and Cancellations
		</h3>

		<ul>

			<li>
				Subscriptions automatically renew unless canceled at least 24 hours before the end of the current billing period.
			</li>

			<li>
				You can manage your subscription and cancel anytime through your account settings or app store.
			</li>

		</ul>

		<h3>
			Refund Policy
		</h3>

		<p>
			Refunds are handled on a case-by-case basis. Refund requests must be submitted within 14 days of purchase. Please contact our support team at <a class="link" href="mailto:artin@sunapp.ai">artin@sunapp.ai</a> for assistance.
		</p>

		<h2>
			User-Generated Content
		</h2>

		<h3>
			Ownership
		</h3>

		<p>
			Any content you submit to SUN, such as questions or feedback, remains your property. However, by submitting content, you grant SUN a non-exclusive, royalty-free license to use, display, and modify your content for the purpose of improving the Services.
		</p>

		<h3>
			Responsibility
		</h3>

		<p>
			You are solely responsible for the content you submit. Do not submit any content that is unlawful, defamatory, or infringes on the rights of others.
		</p>

		<h3>
			Moderation
		</h3>

		<p>
			SUN reserves the right to remove or moderate user-generated content that violates these Terms or is deemed inappropriate or harmful.
		</p>

		<h2>
			Limitation of Liability
		</h2>

		<p>
			To the maximum extent permitted by law, SUN and its affiliates will not be liable for any indirect, incidental, or consequential damages arising out of your use of the Services. This includes loss of data, profits, or other intangible losses.
		</p>

		<h2>
			Indemnification
		</h2>

		<p>
			You agree to indemnify and hold SUN, its affiliates, and its staff harmless from any claims, liabilities, damages, or expenses (including legal fees) arising from your use of the Services or your violation of these Terms.
		</p>

		<h2>
			Third-Party Services
		</h2>

		<p>
			SUN may contain links or integrations to third-party services. We are not responsible for the content, privacy practices, or terms of use of third-party services. Your use of these services is at your own risk.
		</p>

		<h2>
			Governing Law and Dispute Resolution
		</h2>

		<p>
			These Terms are governed by and construed in accordance with the laws of the State of California, United States, without regard to its conflict of law principles. Any disputes arising under these Terms shall be resolved exclusively through binding arbitration in accordance with the rules of the American Arbitration Association. The arbitration shall take place in San Francisco, California.
		</p>

		<h2>
			Accessibility
		</h2>

		<p>
			SUN is committed to ensuring its Services are accessible to all users, including individuals with disabilities. If you encounter any accessibility issues, please contact us at <a class="link" href="mailto:artin@sunapp.ai">artin@sunapp.ai</a> for assistance.
		</p>

		<h2>
			Contact Information
		</h2>

		<p>
			If you have any questions or concerns about these Terms, please contact us at:
		</p>

		<p>
			<span class="color-grey">Email:</span> <a class="link" href="mailto:artin@sunapp.ai">artin@sunapp.ai</a> <br>
			<span class="color-grey">Mailing Address:</span> 4444 Geary St, San Francisco, CA 94118
		</p>

		<p>
			By using SUN, you acknowledge that you have read, understood, and agree to these Terms of Use.
		</p>

	</article>

{% endblock %}