.accordion {

	position: relative;

	&__body {

		overflow: hidden;
		position: relative;
		height: 0;
		transition: linear var(--transitionDefault);

		&-inner {

			padding-bottom: 34px;

		}

	}

	&__item:not(.is-open) &__body {

		height: 0 !important;

	}

	&__item {

		border-bottom: 1px solid rgba(138, 147, 176, 0.3);

	}

	&__head {

		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
		user-select: none;
		padding: 32px 0 22px;
		transition: var(--transitionDefault);

		svg {

			border-radius: 50%;
			background-color: rgba(138, 147, 176, 0.7);
			stroke: var(--bg);

			line {

				transition: transform var(--transitionDefault);
				transform-origin: center;

			}

		}

		@media $desktop {

			&:hover {

				svg {



				}

			}

		}

	}

	&__item.is-open &__head {

		svg line:last-child {

			transform: scaleY(0);

		}

	}

}