.accordion {

	position: relative;

	&__body {

		overflow: hidden;
		position: relative;
		height: 0;
		transition: linear var(--transitionDefault);

		&-inner {

			padding-bottom: 34px;

			@media $mdWidth {

				padding-bottom: 20px;

			}

			@media $smWidth {

				padding-bottom: 16px;

			}

		}

	}

	&__item:not(.is-open) &__body {

		height: 0 !important;

	}

	&__item + &__item {

		border-top: 1px solid rgba(138, 147, 176, 0.3);

	}

	&__head {

		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
		gap: 24px;
		user-select: none;
		padding: 32px 0 22px;
		transition: var(--transitionDefault);

		svg {

			border-radius: 50%;
			background-color: var(--color);
			stroke: var(--bg);

			line {

				transition: transform var(--transitionDefault);
				transform-origin: center;

			}

		}

		@media $mdWidth {

			font-weight: 500;
			font-size: 21px;
			line-height: 29px;
			letter-spacing: 0;
			padding: 20px 0;

		}

		@media $smWidth {

			padding: 16px 0;

		}

		@media $desktop {

			&:hover {

				svg {



				}

			}

		}

	}

	&__item.is-open &__head {

		svg {

			background-color: rgba(138, 147, 176, 0.7);

			line:last-child {

				transform: scaleY(0);

			}

		}

	}

}