.accordion {

	position: relative;

	&__body {

		overflow: hidden;
		position: relative;
		height: 0;
		transition: linear var(--transitionDefault);

		&-inner {

			/* margin-top: -14px; */
			padding-bottom: 30px;

			@media $smWidth {

				/* margin-top: -6px; */
				padding-bottom: 22px;

			}

		}

	}

	&__item:not(.is-open) &__body {

		height: 0 !important;

	}

	&__item {

		border-bottom: 1px solid #222220;

	}

	&__head {

		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
		user-select: none;
		padding: 32px 0 28px;
		transition: var(--transitionDefault);

		svg {

			stroke: var(--color);

			line {

				transition: transform var(--transitionDefault);
				transform-origin: center;

			}

		}

		@media $desktop {

			&:hover {

				svg {

					stroke: var(--Sand);

				}

			}

		}

		@media $smWidth {

			font-size: 16px;
			line-height: 24px;
			padding: 24px 0 22px;

			svg {

				width: 24px;
				height: 24px;

			}

		}

	}

	&__item.is-open &__head {

		svg line:last-child {

			transform: scaleY(0);

		}

	}

}