* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
color: red !important
}

body {

	min-width: 320px;
	color: var(--color);
	font-size: 16px;
	line-height: 1.5;
	font-family: 'Space Grotesk', sans-serif;
	-webkit-text-size-adjust: none;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: scrollbar;
	background-color: var(--bg);
background-image: url(/css/1.png);
background-position: top;
}

a {

	color: currentColor;
	text-decoration: none;
	transition: var(--transitionDefault);
	cursor: pointer;

}

::selection {

	color: var(--bg);
	background-color: var(--color);

}

img {

	border: 0;
	display: block;
	position: relative;

}

svg {

	display: block;
	position: relative;
	fill: var(--Sand);
	flex-shrink: 0;
	transition: var(--transitionDefault);

}

li {

	list-style: none;
	position: relative;

}

p {

	text-wrap: pretty;

}

hr {

	border: 0;
	height: 1px;
	background-color: var(--border);

}

.text {

	font-size: 17px;
	line-height: 1.47;
	letter-spacing: 0.002em;

}

.h1 {

	font-weight: 700;
	font-size: 48px;
	line-height: 52px;
	letter-spacing: -0.001em;
	text-wrap: balance;

	@media $mdWidth {

	}

	@media $smWidth {


	}

}

.h2 {

	font-weight: 700;
	font-size: 40px;
	line-height: 44px;
	text-wrap: balance;

}

.h3 {

	font-weight: 600;
	font-size: 32px;
	line-height: 36px;
	letter-spacing: 0.001em;
	text-wrap: balance;

}

.h4 {

	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.002em;
	text-wrap: balance;

}

.h5 {

	font-weight: 600;
	font-size: 17px;
	line-height: 25px;
	letter-spacing: 0.002em;

}

.link {

	text-decoration: underline;

	&:hover {

		text-decoration-color: transparent;

	}

}

/*
-----------------------------------------------------------------------------*/
.main {

	flex-shrink: 0;
	flex-grow: 1;

}

.wrapper {

	flex-shrink: 0;
	flex-grow: 1;
	display: flex;
	flex-direction: column;

}

.nowrap {

	white-space: nowrap;

}

/* hidden
-----------------------------------------------------------------------------*/
.hide {

	display: none !important;

}

.visuallyhidden {

	position: absolute !important;

	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;

	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;

}