.fade-in {

	opacity: 0.001;
	transform: translateY(40px);
	will-change: opacity, transform;

	&&--left {

		transform: translateX(-40px);

	}

	&&--right {

		transform: translateX(40px);

	}

	&.is-show {

		opacity: 1;
		transform: translateY(0);
		transition: transform 1.5s cubic-bezier(.19,1,.22,1), opacity 1s cubic-bezier(.19,1,.22,1);

	}

	@media $mdWidth {

		transition-delay: 0.2s;

	}

	@media $smWidth {

		&--mobile-off {

			opacity: 1;
			transform: none;

		}

	}

	@media $desktop {

		&&--100 {

			transition-delay: 0.1s;

		}

		&&--200 {

			transition-delay: 0.2s;

		}

		&&--300 {

			transition-delay: 0.3s;

		}

		&&--400 {

			transition-delay: 0.4s;

		}

		&&--500 {

			transition-delay: 0.5s;

		}

		&&--600 {

			transition-delay: 0.6s;

		}

		&&--700 {

			transition-delay: 0.7s;

		}

		&&--800 {

			transition-delay: 0.8s;

		}

		&&--900 {

			transition-delay: 0.9s;

		}

	}

}