.faq {

	padding: var(--margin) 0;

	@media $mdWidth {

		padding-bottom: 0;

	}

	&__title {

		text-align: center;
		margin-bottom: 40px;

		@media $mdWidth {

			text-align: left;
			margin-bottom: 12px;

		}

		@media $smWidth {

			margin-bottom: 16px;

		}

	}

	&__accordion {

		max-width: 880px;
		margin: 0 auto;

		.text {

			color: #586078;
			max-width: 784px;

			@media $mdWidth {

				max-width: 600px;

			}

		}

		ol, ul {

			margin: 12px 10px;

			ol, ul {

				margin: 0;

			}

		}

		ol > li {

			padding-left: 20px;
			counter-increment: headings 1;

			&::before {

				content: counter(headings, decimal)'.';
				position: absolute;
				top: 0;
				left: 0;

			}

		}

		ul > li {

			padding-left: 16px;

			&::before {

				position: absolute;
				width: 4px;
				height: 4px;
				top: 12px;
				left: 2px;
				content: '';
				background-color: currentColor;
				border-radius: 50%;

			}

		}

	}

}