.fees {

	padding: var(--margin) 0;
	scroll-margin: calc( var(--indent) - var(--margin) );

	@media $mdWidth {

		padding-bottom: 0;

	}

	&__box {

		margin: 40px 0;
		padding: 24px;
		display: grid;
		gap: 8px;
		background-color: #fff;
		border-radius: 24px;

		@media $mdWidth {

			margin: 24px 0 18px;
			grid-template-columns: 1fr 1fr;

		}

		@media $smWidth {

			padding: 8px;

		}

	}

	&__row {

		gap: 8px;
		display: grid;
		grid-template-columns: 1fr 304px;

		@media $mdWidth {

			display: contents;

		}

		& + & {

			grid-template-columns: 304px 1fr;

		}

	}

	&__item {

		padding: 24px;
		background-color: var(--bg);
		border-radius: 16px;

		.h5 {

			font-weight: 700;
			letter-spacing: 0;

		}

		@media $mdWidth {

			padding: 20px;

			&--grid-column-span-2 {

				grid-column: span 2;

				.fees__data {

					grid-template-columns: 1fr 1fr;

				}

			}

		}

	}

	hr {

		opacity: 0.3;
		background-color: var(--Grey);
		margin: 22px 0 8px;
		height: 2px;

		@media $mdWidth {

			margin: 15px 0 0;

		}

	}

	&__data {

		display: flex;
		gap: 32px;

		@media $mdWidth {

			display: grid;
			grid-template-columns: 1fr;
			gap: 0 12px;

			dt {

				margin: 16px 0 4px;

			}

			dd {

				font-size: 14px;
				line-height: 20px;

			}

		}

		&-column {

			flex: 1;

			& + & {

				padding-left: 32px;
				position: relative;

				@media $mdWidth {

					padding: 0;

					&::before {

						display: none;

					}

				}

				&::before {

					position: absolute;
					width: 1px;
					top: 16px;
					left: 0;
					bottom: 0;
					content: '';
					opacity: 0.32;
					border-left: 1px dashed var(--color);

				}

			}

		}

		dt {

			margin: 16px 0;

		}

		dd {

			opacity: 0.7;

		}

	}

	&-blockquote {

		padding: 32px;
		display: flex;
		gap: 32px;
		background-color: #fff;
		border-radius: 24px;

		@media $mdWidth {

			display: block;
			padding: 20px;
			text-align: center;

		}

		&__head {

			flex-shrink: 0;

			@media $mdWidth {

				display: flex;
				justify-content: center;
				margin-bottom: 24px;

			}

			img {

				border-radius: 16px;

				@media $mdWidth {

					width: 120px;
					height: 120px;

				}

			}

		}

		&__body {

			align-self: center;

			cite {

				display: block;
				margin-top: 16px;
				font-style: normal;

				b {

					display: block;
					font-weight: 500;
					letter-spacing: -0.01em;

				}

				small {

					font-size: 14px;
					line-height: 20px;
					letter-spacing: -0.01em;
					opacity: 0.7;
					display: block;

				}

			}

		}

		&__foot {

			padding-left: 32px;
			position: relative;
			display: flex;
			align-items: center;
			flex-shrink: 0;

			@media $mdWidth {

				padding: 24px 0 0;
				margin-top: 24px;
				border-top: 1px dashed currentColor;
				display: flex;
				justify-content: center;

				&::before {

					display: none;

				}

			}

			.btn {

				@media $desktop {

					padding-left: 64px;
					padding-right: 64px;

				}

				@media $smWidth {

					width: 100%;

				}

			}

			&::before {

				position: absolute;
				width: 1px;
				top: 0;
				left: 0;
				bottom: 0;
				content: '';
				opacity: 0.32;
				border-left: 1px dashed currentColor;

			}

		}

	}

}