.first-screen {

	position: relative;
	padding-top: 196px;
	background-color: #DEE6EE;

	.center {

		display: flex;
		justify-content: space-between;
		position: relative;

		@media $mdWidth {

			display: block;

		}

	}

	@media $mdWidth {

		padding-top: 124px;

	}

	@media $smWidth {

		padding-top: 112px;

	}

	&__bg {

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;

	}

	&__content {

		max-width: 657px;

	}

	&__picture {

		position: relative;
		display: flex;
		justify-content: center;
		width: 536px;
		margin-right: 64px;
		margin-top: 4px;

		@media $mdWidth {

			width: 100%;
			margin: 32px 0 0;

			&-img {

				width: 218px;
				height: 368px;
				object-fit: cover;
				object-position: top;

			}

			&::before {

				width: 244px;
				height: 349px;

			}

		}

		@media $smWidth {

			&-img {

				width: 221px;
				height: 276px;

			}

		}

		&::before {

			position: absolute;
			content: '';
			width: 378px;
			height: 551px;
			background-color: rgba(22, 32, 66, 0.4);
			opacity: 0.6;
			filter: blur(36px);
			border-radius: 104px;
			margin: auto;

		}

		&-currencies {

			position: absolute;
			left: 0;
			right: 0;
			bottom: 80px;
			margin: auto;
			border-radius: 48px;
			background-color: var(--bg);
			box-shadow: 0 24px 48px rgba(22, 26, 73, 0.16);

			@media $mdWidth {

				width: 320px;
				height: auto;
				bottom: 48px;
				box-shadow: 0 12px 25px rgba(22, 26, 73, 0.16);

			}

			@media $smWidth {

				width: 280px;
				bottom: 32px;

			}

		}

	}

	&__title {

		margin-bottom: 16px;

		@media $tablet {

			br {

				display: none;

			}

		}

		@media $smWidth {

			margin-bottom: 10px;

		}

	}

	&__desc {

		opacity: 0.7;
		margin-bottom: 32px;

		@media $smWidth {

			margin-bottom: 22px;

		}

	}

	&__list {

		display: grid;
		margin-bottom: 32px;
		gap: 4px;

		li {

			padding-left: 20px;

			&::before {

				position: absolute;
				width: 4px;
				height: 4px;
				top: 10px;
				left: 0;
				content: '';
				background-color: var(--Grey);

			}

		}

	}

	&__btns {

		display: flex;
		gap: 16px;
		margin-bottom: 72px;

		@media $mdWidth {

			margin-bottom: 48px;

			.btn {

				flex: 1;

			}

		}

		@media $smWidth {

			flex-direction: column;
			margin-bottom: 32px;

		}

	}

	&__licensed {

		@media $tablet {

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.text {

				text-align: center;

			}

		}

		@media $smWidth {

			text-align: center;

			.text {

				font-weight: 500;
				letter-spacing: -0.01em;

			}

			ul {

				gap: 0;

			}

			li {

				display: block;
				width: 50%;

				&::before {

					display: none;

				}

			}

			img {

				width: 40px;
				height: 40px;
				margin: 0 auto 12px;

			}

		}

		ul {

			margin-top: 16px;
			display: flex;
			gap: 36px;

		}

		li {

			display: flex;
			align-items: center;
			gap: 16px;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.014em;

			& + li::before {

				width: 1px;
				height: 100%;
				content: '';
				opacity: .34;
				background-color: var(--Grey);
				margin-right: 18px;

			}

		}

	}

}
