.btn,
.button {

	border: 0;
	border-radius: 0;
	font-family: inherit;
	background-color: transparent;
	transition: var(--transitionDefault);
	user-select: none;
	position: relative;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	display: block;

	&:hover {

		cursor: pointer;

	}

	&:focus {

		outline: none;

	}

	&:disabled {

		pointer-events: none;

	}

}

.btn {

	padding: 16px 32px 15px;
	border-radius: 12px;
	color: var(--bg);
	background-color: var(--Accent);
	font-weight: 700;
	font-size: 17px;
	line-height: 25px;
	gap: 10px;

	@media $desktop {

		&:hover {

			/* background-color: var(--AccentHover); */

		}

	}

	@media $smWidth {

		padding: 12px 24px 11px;

	}

	&--white {

		color: var(--color);
		background-color: #fff;

		@media $desktop {

			&:hover {


			}

		}

	}

	&--outline {

		color: var(--color);
		background-color: transparent !important;
		box-shadow: 0 0 0 1px var(--color);

		@media $desktop {

			&:hover {


			}

		}

	}

}