.header {

	flex-shrink: 0;
	position: absolute;
	top: 24px;
	left: 0;
	right: 0;
	z-index: 1;

	@media $mdWidth {

		top: 20px;

		.center {

			width: 100%;

		}

	}

	&__grid {

		padding: 16px;
		background-color: #fff;
		box-shadow: 0 0 48px rgba(22, 26, 73, 0.08);
		border-radius: 16px;

		display: grid;
		align-items: center;
		gap: 32px;
		grid-template-columns: auto 1fr auto;
		grid-template-areas: "logo menu btns";

		@media $mdWidth {

			grid-template-columns: 1fr auto;
			grid-template-areas: "logo btns";
			background-color: transparent;
			box-shadow: none;
			padding: 0;

			.menu-show & {

				flex-wrap: wrap;
				display: flex;
				gap: 12px;

			}

		}

	}

	&__logo {

		display: flex;
		grid-area: logo;
		padding-left: 8px;

		@media $mdWidth {

			padding: 0;

			img {

				width: 96px;
				height: 36px;

			}

		}

		@media $smWidth {

			img {

				width: 80px;
				height: 30px;

			}

		}

	}

	&__btns {

		grid-area: btns;
		display: flex;
		gap: 16px;

		@media $mdWidth {

			gap: 12px;
			margin-left: auto;

		}

		.btn {

			padding: 12px 24px 11px;

			@media $smWidth {

				padding: 8px 16px;
				border-radius: 8px;
				font-size: 14px;
				line-height: 20px;

			}

		}

	}

	&__btn-login {

		@media $mdWidth {

			display: none;

			.menu-show & {

				display: block;
				position: fixed;
				bottom: 8px;
				left: 8px;
				right: 8px;
				border-top: 1px solid rgba(22, 32, 66, 0.12);
				padding: 10px;

				.btn {

					background-color: transparent;
					font-weight: 700;
					font-size: 17px;
					line-height: 25px;
					width: 100%;
					padding: 12px 24px 11px;

				}

			}

		}

	}

	&__menu {

		grid-area: menu;

		@media $mdWidth {

			display: none;

		}

		@media $mdWidth {

			.menu-show & {

				display: block;
				order: 3;
				width: 100%;

			}

		}

	}

}

.menu-btn-toggle {

	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	border-radius: 12px;
	width: 48px;
	height: 48px;

	@media $smWidth {

		width: 36px;
		height: 36px;
		border-radius: 8px;

	}

	svg {

		stroke: currentColor;

	}

	@media $desktop {

		display: none;

	}

}


@media $mdWidth {

	.menu-show {

		.main,
		.footer {

			display: none;

		}

	}

}