.header {

	flex-shrink: 0;
	position: fixed;
	top: 24px;
	left: 0;
	right: 0;
	z-index: 9;
	transition: var(--transitionDefault);

	&.is-bg {

		@media $mdWidth {

			background-color: #fff;

		}

	}

	&.is-scrolled-up {

		top: calc( var(--scrollMargin) * -1 );

		@media $mdWidth {

			background-color: transparent;

		}

		.menu-show & {

			top: 24px;

			@media $mdWidth {

				top: 0;

			}

		}

	}

	@media $mdWidth {

		top: 0;

		.center {

			width: 100%;

		}

	}

	&__grid {

		padding: 16px;

		display: grid;
		align-items: center;
		gap: 32px;
		background-color: #fff;
		grid-template-columns: auto 1fr auto;
		grid-template-areas: "logo menu btns";
		box-shadow: 0 0 48px rgba(22, 26, 73, 0.08);
		border-radius: 16px;

		@media $mdWidth {

			grid-template-columns: 1fr auto;
			grid-template-areas: "logo btns";
			background-color: transparent;
			padding: var(--indent) 0;
			box-shadow: none;

			.menu-show & {

				flex-wrap: wrap;
				display: flex;
				gap: 12px;

			}

		}

	}

	&__logo {

		display: flex;
		grid-area: logo;
		padding-left: 8px;
		position: relative;
		z-index: 1;

		@media $mdWidth {

			padding: 0;

			img {

				width: 96px;
				height: 36px;

			}

		}

		@media $smWidth {

			img {

				width: 80px;
				height: 30px;

			}

		}

	}

	&__btns {

		grid-area: btns;
		display: flex;
		gap: 16px;

		@media $mdWidth {

			gap: 12px;
			margin-left: auto;

			.menu-show & .btn {

				display: none;

			}

		}

		.btn {

			padding: 12px 24px 11px;

			@media $smWidth {

				padding: 8px 16px;
				border-radius: 8px;
				font-size: 14px;
				line-height: 20px;

			}

		}

	}

	&__menu {

		grid-area: menu;

		&-foot {

			display: grid;
			grid-template-columns: 1fr 1fr;
			padding: 16px;
			gap: 16px;
			border-top: 1px solid rgba(22, 32, 66, 0.12);
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;

			@media $desktop {

				display: none;

			}

		}

		@media $mdWidth {

			display: none;
			position: absolute;
			top: 8px;
			left: 8px;
			right: 8px;
			height: 80vh;
			background-color: var(--bg);
			border-radius: 24px;
			padding-top: 60px;

			.menu-show & {

				display: block;

			}

		}

	}

}
@media $mdWidth {

	.menu-show {

		.header.is-bg {

			background-color: transparent;

		}

		.wrapper::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			background-color: var(--color);
			opacity: .33;
			z-index: 8;

		}

	}

}

.menu-btn-toggle {

	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--bg);
	border-radius: 12px;
	width: 48px;
	height: 48px;

	@media $smWidth {

		width: 36px;
		height: 36px;
		border-radius: 8px;

	}

	svg {

		stroke: currentColor;

	}

	@media $desktop {

		display: none;

	}

}
