.join {

	margin: var(--margin) 0;
	text-align: center;
	text-wrap: balance;

	&__title {

		margin-bottom: 48px;

		@media $smWidth {

			margin-bottom: 36px;

		}

	}

	&__text {

		margin-bottom: var(--gap);

	}

	&__btn {

		display: flex;
		justify-content: center;

	}

}