.visible-md,
.visible-sm {

	display: none;

}

.center {

	width: 1328px;
	max-width: 100%;
	margin: 0 auto;

}

@media $desktop {

}

@media $tablet {

}

@media (max-width: 1336px) {

	.center {

		width: 1216px;

	}

}

@media $mdWidth {

	:root {


	}

	.hidden-md {

		display: none !important;

	}

	.visible-md {

		display: block;

	}

	.center {

		width: 720px;
		padding: 0 var(--indent);

	}

}

@media $smWidth {

	:root {

		--indent: 20px;

	}

	.hidden-sm {

		display: none !important;

	}

	.visible-sm {

		display: block;

	}

	.center {

		width: 464px;
		max-width: 100%;

	}

}

@media $xsWidth {

	:root {

		--indent: 10px;

	}

}