.page-text {

	margin: 185px auto;
	width: 728px;
	color: var(--Sand);

	@media $smWidth {

		margin: 128px auto;

	}

	&__title {

		text-align: center;
		margin-bottom: 64px;

		@media $smWidth {

			margin-bottom: 48px;

		}

	}

	&__date {

		display: block;

	}

	h2 {

		margin-bottom: 12px;
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;

	}

	h3 {

		font-weight: 600;
		font-size: 16px;
		margin: var(--gap) 0;

	}

	h2 + p {

		margin-top: 0;

	}

	b {

		font-weight: 600;

	}

	p, ul {

		margin: var(--gap) 0;

	}

	ul {

		li {

			padding-left: 32px;
			margin: var(--gap) 0;

			&::before {

				position: absolute;
				top: 9px;
				left: 16px;
				content: '';
				width: 4px;
				height: 4px;
				background-color: currentColor;

			}

		}

	}

}


.counter-headings {

	counter-reset: headings;

	h2 {

		counter-increment: headings 1;
		counter-reset: alpha;

		&::before {

			content: counter(headings, decimal) '. ';

		}

	}

	h3 {

		counter-increment: alpha 1;
		position: relative;
		padding-left: 32px;

		&::before {

			position: absolute;
			top: 0;
			left: 0;
			content: counter(alpha, upper-alpha) '.';

		}

	}

}