.partners {

	padding: 24px 0;

	@media $smWidth {

		padding: var(--margin) 0 0;

	}

	.center {

		display: flex;
		align-items: center;
		justify-content: space-between;

		@media $smWidth {

			display: block;

		}

	}

	&__title {

		font-weight: 600;
		font-size: 21px;
		line-height: 29px;
		opacity: 0.7;

		@media $smWidth {

			font-weight: 500;
			opacity: 1;
			text-align: center;
			margin-bottom: 24px;

		}

	}

	&__list {

		display: flex;
		align-items: center;
		flex-grow: 1;

		@media $smWidth {

			flex-wrap: wrap;
			justify-content: center;
			gap: 24px 32px;

		}

	}

	&__item {

		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 1;

		@media $smWidth {

			flex-grow: 0;

		}

		img {

			width: auto;
			height: auto;

		}

		&::before {

			width: 1px;
			height: 32px;
			opacity: 0.16;
			margin: auto;
			background-color: var(--color);
			content: '';

			@media $smWidth {

				display: none;

			}

		}

	}

}