.referral {

	padding: var(--margin) 0;
	scroll-margin: calc( 20px + var(--scrollMargin) - var(--margin) );

	@media $mdWidth {

		padding-bottom: 0;

	}

	&__header {

		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 16px;
		text-align: center;

		.text {

			opacity: 0.7;
			margin-bottom: 24px;

			@media $tablet {

				margin: 0 auto 8px;
				max-width: 512px;

			}

		}

		@media $smWidth {

			text-align: left;
			align-items: flex-start;

			.text {

				margin-bottom: 10px;

			}

			.btn {

				width: 100%;

			}

		}

	}

	&__list {

		margin-top: 48px;
		display: flex;
		justify-content: space-between;
		gap: 24px;

		@media (max-width: 1336px) {

			gap: 16px;

		}

		@media $tablet {

			display: grid;
			gap: 24px;
			grid-template-columns: 1fr 1fr;

		}

		@media $smWidth {

			display: grid;
			gap: 16px;

		}

		img {

			width: 100%;
			height: auto;

		}

		figure {

			position: relative;
			border-radius: 16px;
			overflow: hidden;

		}

		figcaption {

			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 24px;
			color: #fff;
			display: flex;
			align-items: flex-end;
			min-height: 140px;
			background-image: linear-gradient(to top, rgba(0,0,0,.8), rgba(0, 0, 0, 0));

			@media (max-width: 1336px) {

				padding-right: 16px;

			}

		}

	}

}