:root {

	--color: #162042;
	--bg: #F3F4F7;

	--Accent: #1BBFCC;
	--Grey: #8A93B0;

	--transitionDefault: 0s;

	--margin: 72px;
	--indent: 30px;

}

$desktop: (min-width: 1200px);
$tablet:  (min-width: 728px) and (max-width: 1199px);
$mdWidth: (max-width: 1199px);
$smWidth: (max-width: 727px);
$xsWidth: (max-width: 374px);

.color-accent {

	color: var(--Accent);

}