:root {

	--color: #162042;
	--bg: #F3F4F7;

	--Accent: #1BBFCC;
	--Grey: #8A93B0;

	--transitionDefault: 0s;

	--margin: 72px;
	--indent: 32px;

}

$desktop: (min-width: 1250px);
$tablet:  (min-width: 720px) and (max-width: 1249px);
$mdWidth: (max-width: 1249px);
$smWidth: (max-width: 719px);
$xsWidth: (max-width: 374px);

.color-accent {

	color: var(--Accent);

}